.home-button{
background: linear-gradient(to bottom, #ff9c00, #003E1F);
padding: 10px 25px;
text-align: center;
display: inline-block;
font-size: 16px;
font-weight: 700;
border-radius: 5px;
/* transition: all 0.3s ease; */
}
